<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/mlr.css">
    <title>first page</title>
</head>

<body>
    <nav id="navbar">


        <ul>
            <li class="item"><a href="#">HOME</a></li>
            <li class="item"><a href="#">ABOUT US</a></li>
        </ul>
        <div id="logo">
            <img id="logo_img" src="../static/university.jpg" alt="logo">
        </div>
        <ul>
            <li class="item"><a href="#">CONTACT US</a></li>
            <li class="item"><a href="#">SERVICES</a></li>
            <li class="item"><a href="#"></a></li>
        </ul>
    </nav>
    <section id="home">
        <h1 class="h-primary">University Admission Prediction System</h1>
        <h3>Enter your details and get probabilty of your admission</h3>
        <a href="{{url_for('formpage')}}">Click Here To predict</a>
    </section>

</body>

</html>