
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/no.css">
    <title>Document</title>
</head>

<body>
    <headder id="head">
        <h1>Predicting Chance of Admission</h1>
        <h4>A Machine Learning Web App Using Flask</h4>
        <div id="output">


            <p>Prediction : <b><u>{{prediction_text}}</u></b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </div>
    </headder>
    <div id="image">
        <img src="../static/yes.jpg" alt="yes">
    </div>
</body>
</body>

</html>